body {
    background-color: #f8f9fa;
}

.navbar-brand {
    font-weight: 600;
}

.container {
    max-width: 1100px;
}

#flash-messages .alert {
    margin-bottom: 0.5rem;
}

table.table-sm td,
table.table-sm th {
    vertical-align: middle;
}

footer {
    background-color: #ffffff;
}
